<div class="errMsgDiv">
    <p class="p-2 fs-6 errMsg">
        <span class="d-block">
            1) {{email404}}
        </span>
        <span class="d-block">
            2) {{password400}}
        </span>
    </p>
</div>