 <section class="viewLessons">
     <div class="row">
         <h3 class="heading col">View Lesson Plans: </h3>
        <a href="/lesson-plans/addLessonPlan" class="adda col"><h4 class="addGrade">Add Lesson</h4><img src="/assets/images/addagain.png" class="addBtn" style="height: 5rem; width: auto;" alt=""></a>
     </div>
     {{> back_button}}
     <div class="row">
         <label for="filterBySubj">
             <h5 class="subheading">Filter By Subject</h5>
         </label>
         <div class="viewLesons">
             <select name="filterBySubj" class="subjFilter" id="filterBySubj">
                    <option disabled="true" selected>--Please Select --</option>
                    <option data-subjId="1" value="1">English</option>
                    <option data-subjId="2" value="2">Math</option>
                    <option data-subjId="3" value="3">Science</option>
                    <option data-subjId="4" value="4">Social Studies</option>
                 </select>
         </div>
     </div>