  {{> navbar}}
  
  <section>
          <h3 class="heading">Enter Into the GradeBook:</h3>
          <br>
          <div class="container addGrade-container" style="width: 30rem;">
             <form action="" class="container">
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <select type="" class="form-control" name="subject" id="subject">
                        <option selected="selected" disabled="true">--Please Select --</option>
                        <option value="1">Language Arts</option>
                        <option value="2">Math</option>
                        <option value="3">Science</option>
                        <option value="4">Social socialStudies</option>
                        </select>
                </div>
                 <div class="form-group">
                     <label for="gradeFirstN">Student First Name:</label>
                    <select type="" class="form-control" name="subject" id="subject">
                        <option selected="selected" disabled="true">--Please Select --</option>
                        {{#each students as |student|}}
                        <option value="{{student.id}}">{{student.first_name}}</option>
                        {{/each}}
                        </select>
                 </div>
                 <div class="form-group">
                     <label for="gradeLastN">Student Last Name:</label>
                      <select type="" class="form-control" name="subject" id="subject">
                        <option selected="selected" disabled="true">--Please Select --</option>
                        {{#each students as |student|}}
                        <option value="{{student.id}}">{{student.last_name}}</option>
                        {{/each}}
                        </select>
                 </div>
                 <div class="form-group">
                     <label for="lessonPlanN">Assignment Name:</label>
                     <input type="text" name="lessonPlanN" id="lessonPlanN" class="form-control">
                 </div>
                 <div class="form-group">
                     <label for="studGrade">Grade:</label>
                     <input type="number" min='0' max='100' name="studGrade" id="studGrade" class="form-control">
                 </div>
                 <br>
                 <button type="submit" class="btn btn-secondary">Submit</button>
             </form>
          </div>
      </section>