    {{> navbar}}
  
  <section>
          <h3 class="heading">Create Lesson Plan:</h3>
            <div class="container create-lessonplan-container">
                <form class="container addLesson">
                    <div class="form-group">
                        <label for="lessonDate">Lesson Date:</label>
                        <input type="date" class="form-control" name="lessonDate" id="lessonDate">
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        <select type="" class="form-control" name="subject" id="subject">
                            <option selected="selected" disabled="true">--Please Select --</option>
                            <option value="1" data-subjectId="1">Language Arts</option>
                            <option value="2" data-subjectId="2">Math</option>
                            <option value="3" data-subjectId="3">Science</option>
                            <option value="4" data-subjectId="4" >Social socialStudies</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="lessonName">Lesson Name:</label>
                        <input type="text" class="form-control" name="lessonName" id="lessonName" placeholder="ex) Reading Comprehension with The Very Hungry Caterpillar">
                    </div>
                    <div class="form-group">
                        <label for="objective">Learning Objective:</label>
                        <input type="text" name="assessment" class="form-control" id="objective" placeholder="ex) Complete a worksheet about the book.">
                    </div>
                    <div class="form-group">
                        <label for="activity">Structure/Activity:</label>
                        <textarea type="text" class="form-control" name="activity" id="activity" placeholder="ex) Read the Very Hungry Caterpillar and make butterfly crafts."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="materials">Materials:</label>
                        <input type="text" name="materials" class="form-control" id="materials" placeholder="ex) Book, construction paper, glue sticks, markers...">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary submitAddLeson">Submit</button>
                </div>
            </form>
      </section>

<script src = '/javascript/addLessonPlan.js'></script>