    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard">
            <img class="icon" src="../assets/images/smaller-homeroom-icon.png" width="30" height="30" alt="">
          </a>
          <a class="navbar-brand" href="#">
              <h1>HomeRoom</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                
              </ul>
          </div>
        </div>
      </nav>

      <section class="dashboard-section">
          <h3 class="heading">Welcome !</h3>
          <div class="container dashboard-container">
              <div class="row">
                  <a class="col-sm" href="/class-roster" >
                      <div class="option-block option1">
                          <h3>Class Roster</h3>
                          <br>
                          <img class="optionIcon" src="../assets/images/classroster.png" alt="">
                      </div>
                  </a>
                  <a class="col-sm" href="/lesson-plans">
                      <div class="option-block option2">
                        <h3>Lesson Plans</h3>
                        <img class="optionIcon" src="../assets/images/lessonplans.png" alt="">
                      </div>
                  </a>
                  <a class="col-sm" href="/grades">
                      <div class="option-block option3">
                          <h3>Grade Book</h3>
                          <br>
                          <img class="optionIcon" src="../assets/images/anotherGrade.png" alt="">
                      </div>
                  </a>
              </div>
          </div>
      </section>