  {{#if loggedIn}}
  {{> navbar}}
   {{> back_button}}
       <div class="row">
          <h2 class="heading gradebookTitle text-shadow col"> 
             Math Grade Book</h2>
             <a href="/grades/addgrade/2" class="adda col"><h4 class="addGrade">Add Grade</h4><img src="/assets/images/addagain.png" class="addBtn" style="height: 5rem; width: auto;" alt="grey plus sign picture"></a>
          </div>


      <section>
          <div class="overflow-x:auto">
              <table class="gradeBook">
                  <tr class="gradeBookThead">
              
                  </thead>
                  <tbody class="tableBody">
              
              </table>
          </div>
    </section>

<script src="/javascript/dynamicMathGrade.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  

{{/if}}
