  {{#if loggedIn}}
  {{> navbar}}

      <section class="dashboard-section">
          <h3 class="heading">Grade Books</h3>
          <div class="container subject-container">
              <div class="row">
                  {{#each subjects as |subject|}}
                  <a href="/grades/{{subject.subject_value}}" class="col-sm subject-block subject option-block" style="text-decoration: inherit; color: inherit;">
                      <div class="shake" >
                          <h3>{{subject.subject_name}} Grade Book</h3>
                      </div>
                  </a>  
                  {{/each}}
              </div>
          </div>
        {{> back_button}}
      </section>

      <script src="/javascript/logout.js"></script>
    {{/if}}
