  {{#if loggedIn}}
  {{> navbar}}
       <div class="row">
          <h2 class="heading gradebookTitle col"> {{studentsAndAssignments.assignments.[0].subject.subject_name}}
             Grade Book</h2>
             <a href="/grades/addgrade/3" class="adda col"><h4 class="addGrade">Add Grade</h4><img src="/assets/images/addagain.png" class="addBtn" style="height: 5rem; width: auto;" alt="grey plus sign picture"></a>
          </div>

 {{> back_button}}
      <section>
          <table class="gradeBook">
              <tr class="gradeBookThead">
                 
              </thead>
              <tbody class="tableBody">
                 
          </table>
           

<script src="/javascript/dynamicScienceGrade.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
{{/if}}
