    {{#if loggedIn}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard">
            <img class="icon" src="../assets/images/smaller-homeroom-icon.png" width="30" height="30" alt="">
          </a>
          <a class="navbar-brand" href="/">
              <h1>HomeRoom</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a href="/login" class="nav-link homepage-nav-link">Class Roster</a>
                  </li>
                  <li class="nav-item">
                      <a href="/signup" class="nav-link homepage-nav-link">Lesson Plans</a>
                  </li>
                  <li class="nav-item">
                      <a href="/signup" class="nav-link homepage-nav-link">Grade Book</a>
                  </li>
                  <li class="nav-item">
                      <a href="/signup" class="nav-link homepage-nav-link">Attendance</a>
                  </li>
                  <li class="nav-item">
                      <button class="nav-link homepage-nav-link logoutBtn">Log Out</button>
                  </li>
              </ul>
          </div>
        </div>
      </nav>

      <section class="dashboard-section">
          <h3 class="heading">Grade Books</h3>
          <div class="container subject-container">
              <div class="row">
                  {{#each subjects as |subject|}}
                  <a href="/grades/{{subject.id}}" class="col-sm subject-block subject" style="text-decoration: inherit; color: inherit;">
                      <div >
                          <h3>{{subject.subject_name}} Grade Book</h3>
                      </div>
                  </a>  
                  {{/each}}
              </div>
          </div>
      </section>

      <script src="/javascript/logout.js"></script>
      {{/if}}
