{{> navbar}}

      <div class="hero">
        <div class="blurb">
          <h2 class="welcome-heading">Welcome to HomeRoom</h2>
          <!-- <img class="blurb-pic" src="./images/white-pic.png" alt="clipboard and apple"> -->
          <h4 class="subtitle">Your home base to stay organized and make the most of your school day.</h4>

          <div class="signup">
            <a href="/signup"><h4>Sign Up</h4></a>
          </div>
          <div class="login">
            <a href="/login">
              <h4>Log In</h4></a>
          </div>
          
        </div>
      </div>