 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img class="icon" src="../assets/images/smaller-homeroom-icon.png" width="30" height="30" alt="">
          </a>
          <a class="navbar-brand" href="#">
              <h1>HomeRoom</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a href="/login" class="nav-link homepage-nav-link">Login</a>
                  </li>
                  <li class="nav-item">
                      <a href="/signup" class="nav-link homepage-nav-link">Sign Up</a>
                  </li>
              </ul>
          </div>
        </div>
      </nav>


      <div class="hero">
        <div class="blurb">
          <h2 class="welcome-heading">Welcome to HomeRoom</h2>
          <!-- <img class="blurb-pic" src="./images/white-pic.png" alt="clipboard and apple"> -->
          <h4 class="subtitle">Your home base to stay organized and make the most of your school day.</h4>

          <div class="signup">
            <a href="signup.html"><h4>Sign Up</h4></a>
          </div>
          <div class="login">
            <a href="login.html">
              <h4>Log In</h4></a>
          </div>
          
        </div>
      </div>