  {{#if loggedIn}}
  {{> navbar}}
 
{{> filterLessons}}
     

     <div class="container">
         
         <div class="row ">
             <div class="col less-col-name date">
                 <p>Date</p>
                </div>
                <div class="col less-col-name lessSubj">
                    <p>Subject</p>
                </div>
                <div class="col less-col-name lessonName">
                    <p>Lesson Name</p>
                </div>
            
         </div>
         {{#each lessons as |lesson|}}
         <div class="row viewLessRow">
             <div class="col date">
                 <p>{{lesson.lesson_date}}</p>
                </div>
                <div class="col lessSubj">
                    <a href="/toFilterBySubj" style="text-decoration: inherit; color: inherit;">{{lesson.subject.subject_name}}</a>
                </div>
                <div class="col lessName">
                    <a href="/lesson-plans/{{lesson.id}}" style="text-decoration: inherit; color: inherit;">{{lesson.lesson_name}}</a>
                </div> 
         </div>
         {{/each}}
     </div>
 </section>
 

<script src ='/javascript/lessonplans.js'></script>
{{/if}}