  {{> navbar}}

      <section class="login-background">
          <h2 class="login-heading">Welcome Back!</h2>
        <form class="container login-container"  style="width:80vw;">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group pb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
            <button type="submit" class="btn btn-secondary">Sign In</button>
            <p class="p-2">
              Don't have an account?
            <a href="/signup">signup</a>
            </p>
        </form>
      </section>

      <script src="/javascript/login.js"></script>