.logoutBtn {
  border: none;
  background: none;
  padding-right: 3rem;
  font-size: 1.5rem;
  vertical-align: center;
}

.backBtn {
  border: var(--black-border-half);
  background-color: var(--white-green);
  color: rgba(0, 0, 0, 0.578);
  margin: 2rem 5rem 1rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.5s;
}

.backBtn:hover {
  transition: 0.5s;
  background: var(--white-yellow);
}
