.logoutBtn {
  border: var(--black-border-half);
  background-color: var(--white-yellow);
  color: rgba(0, 0, 0, 0.578);
  margin: 2rem 5rem 1rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.5s;
  box-shadow: 2px 2px 10px rgb(59, 59, 59);
}

.backBtn {
  border: var(--black-border-half);
  background-color: var(--white-green);
  color: rgba(0, 0, 0, 0.578);
  margin: 2rem 5rem 1rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.5s;
  box-shadow: 2px 2px 10px rgb(59, 59, 59);
}

.backBtn:hover {
  transition: 0.5s;
  background: var(--white-yellow);
}

.logoutBtn:hover {
  transition: 0.5s;
  color: var(--subtitle);
  transform: translateY(-2px);
}
