.signup-container {
  background-color: var(--white-green);
  border-radius: 10px;
  padding: 1.5rem;
  position: absolute;
  min-width: 300px;
  top: 15%;
  left: 10%;
}

.signup-background {
  background-image: url(../../../assets/images/chalkboard-hand.png);
  background-position: center;
  height: 85vh;
  background-size: cover;
  position: relative;
}

.create-lessonplan-container,
.login-container {
  font-size: 1.4rem;
  overflow: hidden;
  background-color: var(--white-green);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 2rem;
}

.login-container {
  margin: 0px;
  font-size: 1.4rem;
}

.login-background {
  background-image: url(../../../assets/images/plain-chalkboard.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}

.required::before {
  content: "*";
  font-size: 20px;
  padding-right: 10px;
  color: var(--required-star);
}

.lessName a,
p,
form input {
  font-size: 1.5rem;
}

.less-col-name {
  padding: 0.75rem;
}
