.center {
  display: grid;
  place-items: center;
}

.shake {
  transition: transform 0.1s, scale 0.1s;
  box-shadow: 2px 2px 10px rgb(15, 15, 15);
}

.shake:hover {
  transform: rotate(1deg);
  box-shadow: 4px 4px 15px rgb(31, 31, 31);
  scale: 1.01;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgb(133, 133, 133);
}

